body{
    background-color: lightgray;
}
/*ZONA GRIDS --------------------------------*/
#InfoPokemon {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 100px;
    padding: 20px;
    min-height: 90vh;
}
article{
    background-color: white;
    font-size: 20px;
    font-weight: bold;
    border-radius: 50px;
}
article p{
    font-size: 30px;
    font-weight: bold;
}
.FotoPokemon {
    grid-column: 1 / 2;
    grid-row: 1 / 4;
}
.StatsPokemon{
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

.HabilidadesPokemon{
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}
.MovimientosPokemon{
    grid-column: 3 / 4;
    grid-row: 1 / 3;
    max-height: 750px;
    overflow-y: auto;
}
.EvolucionesPokemon{
    grid-column: 2 / 4;
    grid-row: 3 / 4;
}
.TitolCuadre{
    font-size: 40px;
    margin-left: 20px;
    margin-top: 20px;
}
article p{
    margin-left: 40px;
    font-size: 25px;
}
/*ZONA FOTO -----------------------*/
.FotoPokemon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.FotoPokemon img {
    width: 80%;
    height: 80%;
    object-fit: contain;
}
.FotoPokemon h2 {
    font-size: 80px;
    text-transform: capitalize;
}
/*ZONA HABILIDADES -----------------*/
