/*ZONA ROJA -------------------------*/
.hero {
    background: red;
    padding: 50px 0px 50px;
    text-align: center;
    border-bottom: 5px solid black;
}   

.hero h2 {
    color: white;
    font-size: 80px;
    font-weight: bold;
    -webkit-text-stroke: 2px black;
}
/*BUSCADOR ----------------------------*/
.search-container {
    margin-bottom: -85px;
}

.search-input {
    width: 400px;
    padding: 15px 35px 15px 35px;
    border-radius: 40px;
    border: 4px solid black;
    font-size: 20px;
}
/*FILTRO ----------------------------*/

.main-content{
    display: flex;
    justify-content: center;
}

.filter-section{
    margin-top: 50px;
    width: 250px;   
    padding: 6px ;
    border-radius: 40px;
    border: 2px solid grey;
    font-size: 15px;
}

/*GRID DE POKEMONS ------------------------*/

#mainPkmGrid{
    position: absolute;
    margin-top: 150px;
    align-items: center;
    justify-self: center;
    justify-content: center;
    width: 100%;
    display: flex;
    justify-items: center;
    gap: 50px;
    flex-wrap: wrap;
}
#mainPkmGrid article {
    display: flex;
    flex-direction: column; 
    justify-items: center;
    font-size: 30px;
    width: 200px;
    height: 300px;
    border-radius: 40px;
    margin-bottom: 30px;
}
#mainPkmGrid article p {
    align-self: center;
}

/*COLORES POKEMONS FONDO ------------------*/

.grass {
    background-color: #00A700;
}

.fire {
    background-color: #ff7a1c;
}

.water {
    background-color: #2a6aff;
}

.electric {
    background-color: #ffd426;
}

.psychic {
    background-color: #670e94;
    color: white;
}

.ice {
    background-color: #98D8D8;
}

.dragon {
    background-color: #7038F8;
}

.dark {
    background-color: #33302f;
    color: white;
}

.fairy {
    background-color: #e76a85;
}

.normal {
    background-color: #b1b1b1;
}

.fighting {
    background-color: #C03028;
}

.flying {
    background-color: #A890F0;
}

.poison {
    background-color: #A040A0;
    color: white;
}

.ground {
    background-color: #d88b18;
}

.rock {
    background-color: #B8A038;
}

.bug {
    background-color: #a6b806;
}

.ghost {
    background-color: #705898;
}

.steel {
    background-color: #8282af;
}