body{
    margin: 0;
}
header {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    background-color: white;
}

.logo-container {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-self: start;
    margin-left: 20px;
}

nav {
    justify-self: center;
}

nav ul {
    display: flex;
    gap: 50px;
    list-style: none;
    padding: 0;
}

nav ul li a {
    text-decoration: none;
    color: black;
    font-size: 25px;
}
.nav-links li:has(a.active) {
  text-decoration: underline 3px;
  text-decoration-color: red;
}